#contents{
    max-width:1000px;
    background-color: rgb(209, 167, 120);
    margin: auto;
    min-height: 100%;
}

#display{
    margin: 10px;
}

html{
    height: 100%;
}
 
body{ 
    height: 100%;
    margin: 0%;
    background-color: #e6dab4;
}
